*{
	padding: 0px;
	margin: 0px;
	outline: 0;
	border: 0;
	vertical-align: top;
}

body{
	width: 1200px;
	margin: 0 auto;
	color: #666;
	font-family: Arial, sens-serif;
}

a{
	text-decoration: none;
	color: #666;
}

.top-wrap{
	height: 100px;
}

.logo{
	display: inline-block;
	position: relative;
	font-size: 36px;
	margin-left: 150px;
	line-height: 100px;
}

.logo:before{
	content: '';
	position: absolute;
	width: 46px;
	height: 44px;
	left: -50px;
	top: 30px;
	background: url(images/icons/logo.png) no-repeat;
}

nav{
	display: inline-block;
	line-height: 100px;
	margin-left: 300px;
}

nav li{
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

nav li:first-child{border-bottom: 4px solid #ffca26;}
nav li:hover{
	border-bottom: 4px solid #ffca26;
	cursor: pointer;
}
nav li:not(:first-child){margin-left: 20px;}

header{
	height: 700px;
}

.bot-wrap{
	height: 600px;
	background: url(images/head-bg.jpg) no-repeat;
	background-size: cover;	
	text-align: center;
}

.text-wrap{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.text-wrap h1{
	color: #ffca26;
	text-transform: uppercase;
	font-size: 34px;
	margin-bottom: 20px;
}

.text-wrap p{
	color: #fafafa;
	font-size: 18px;
	margin-bottom: 100px;
}

.text-wrap a{
	display: inline-block;
	width: 160px;
	height: 50px;
	line-height: 50px;
	border-bottom: 4px solid #ffca26;
	color: #fafafa;
	font-size: 18px;
	text-transform: uppercase;
}

/*-----------about ethanol---------*/

.about-ethanol{
	height: 330px;
	background: #ffca26;
	text-align: center;
}

.about-ethanol .logo{
	position: relative;
	color: #fafafa;
	text-transform: none;
	font-size: 36px;
	margin-bottom: 40px;
	margin-right: 100px;
}

.about-ethanol .logo:before{
	content: '';
	position: absolute;
	width: 52px;
	height: 50px;
	left: -25px;
	top: 0px;
	background: url(images/icons/logo-yellow-e.png) no-repeat;
	background-size: cover;
}
	
.about-ethanol p{
	width: 600px;
	line-height: 25px;
	margin: 0 auto;
	color: #fafafa;
}

.about-ethanol .text-wrap{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

/*section1-----------------*/

.section1{
	height: 500px;
}

.section-head{
	text-align: center;
	padding-top: 100px;
	margin-bottom: 80px;
}
.section-head h2{
	font-size: 34px;
	margin-bottom: 10px;
	color: #444;
	text-transform: uppercase;
}
.section-head h2 > span{
	color: #ffca26;
}
.section-head p{
	margin-bottom: 20px;
}

.wrap-logo-lines{
	height: 60px;
	line-height: 60px;
}
.wrap-logo-lines hr{
	display: inline-block;
	height: 1px;
	width: 400px;
	vertical-align: middle;
	background-color: #ccc;
}


.wrap-left-items,
.wrap-right-items{
	display: inline-block;
}


.wrap-item-info{
	display: inline-block;
	width: 300px;
	text-align: right;
}
.wrap-item-info h3{
	margin-bottom: 10px;
}
.section .item img{
	display: inline-block;
	width: 110px;
}

.wrap-left-items .wrap-item-info{
	margin-right: 10px;
}


.wrap-left-items{
	margin-left: 180px;
}

.section .item{
	width: 430px;
	height: 100px;
	margin-bottom: 20px;
}

.wrap-right-items .wrap-item-info{
	display: inline-block;
	width: 300px;
	text-align: left;
	margin-left: 10px;
}
.wrap-item-info h3{
	margin-bottom: 10px;
}
.section .item img{
	display: inline-block;
	width: 100px;
}


	